/* Personal CSS */

/* Authors: @fnbellomo
 */

/****************************************
 * Base structure
 ****************************************/
body {
    font-family: Helvetica, Arial;
    position: relative;
    background-color: black;
}

.site-name {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    text-align: left;
}

ol, ul {
    list-style: outside none none;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

.list-icons li {
    padding: 0 0 15px 0;
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-top: 0;
}

h2 {
    color: rgb(157, 157, 157);
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.header-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}
/****************************************
 * NavBar
 ****************************************/
.navbar-inverse {
    background-color: #000;
}

.navbar-brand > img {
    display: block;
    max-width:250px;
    margin-top: -10px;
}

.navbar-brand > img.visible-xs{
    display: block;
    max-width:200px;
    margin-top: -10px;
    
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.navbar-custom {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    font-weight: bold;
}
/****************************************
 * Box
 ***************************************/
.box-def {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
    margin-top: 30px;
}

.box-def img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.box-def h3 {
    color: #292636;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.box-def p {
    color: #87818C;
    font-size: 19px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
    text-align: justify;
}

/****************************************
 * Main page
 ***************************************/
.full-graph {
    background: url("../imgs/grafo_general_small.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 55px;
}

#community-buttons {
    background-color: black;
}

/****************************************
 * Community graph
 ***************************************/
.com1 {
    background: url("../imgs/grafo_comunidad_0_small.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 55px;
}

.com2 {
    background: url("../imgs/grafo_comunidad_2_small.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 55px;
}

.com3 {
    background: url("../imgs/grafo_comunidad_3_small.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 55px;
}

.com4 {
    background: url("../imgs/grafo_comunidad_4_small.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 55px;
}


/****************************************
 * Footer
 ***************************************/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}

.footer-texto {
    text-align: center;
}

.footer-texto > p {
    margin-bottom: 0px;
}

.footer-texto > p > strong {
    color: #e62b1e;
}